root = true

[*.{ts,pug,sass,js,tsx,jsx,mjs,json}]
indent_size = 4
indent_style = tab
insert_final_newline = true
max_line_length = 80
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8

[*.{yaml,yml}]
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 80
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8
